*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#collapsibleNavbar ul {
  margin-left: 48%;
}

#collapsibleNavbar > ul a{
  display: block;
  color: black;
  font-weight: 500;
  padding: 8px 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px;
}

#foodPage{
  margin: 70px 0px;
}

#foodPage > h1{
  font-weight: 800;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#foodPage  p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 20px;
  margin: 25px 10px;
}

#foodPage button{
  background-color: orange;
  border-radius: 40px;
  padding: 10px 25px;
  font-weight: 600;
  border: 1px solid grey;
}

#foodPage button:hover{
  background-color: gray;
   color: white;
}

#foodPage input{
  width: 25%;
  border-radius: 40px;
  padding: 10px 25px;
  margin-left: 20px;
  text-align: center;
  font-weight: 600;
  border: 2px solid orange;
}

section{
    margin: 100px 10px;
}

#imgIcon{
    position: relative;
    width: 80%;
}

#imgIcon img{
  width: 100%;
}

.imgIcon{
    padding: 7px 20px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#imgIconPos{
    position: absolute ;
    left: 85%;
    top: 35%;

}

#imgTxtCrd{
    margin: 5px;
    text-align: center;
    animation: side-to-side 10s infinite ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#imgTxtCrd h4{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imgTxtCrd h5{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

#imgTxtCrd p{
  font-size: 15px;
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#imgTxtCrd img{
  width: 100%;
  height: 200px;
}
.addToCart{
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid orange;
  color: black;
}

.addToCart:hover{
  background-color: gray;
  color: white;
  border:0
}
/* Define the animation */
@keyframes side-to-side{
    0%{left: 0;}
    50%{left: calc(13% - 1rem);}
    100%{left: 0;}
}

#multServices{
 margin: 80px 50px;
 text-align: start;
}

#multServices h1{
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#multServices p{
  font-weight: 500;
  padding: 20px 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#multServices h4{
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 700;
}

#multServices button{
  background-color: orange;
  border-radius: 40px;
  padding: 10px 25px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid grey;
}


#multServices button:hover{
  background-color: gray;
  color: white;
}

#imgTxtCrdMenu{
  text-align: center;
   margin: 15px 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#imgTxtCrdMenu img{
  width: 100%;
  height: 250px;
}

#imgTxtCrdMenu h5{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  display: inline;
}

#imgTxtCrdMenu a{
  text-decoration: none;
  padding: 8px 12px;
  display: inline-block;
  margin-left: 30px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid orange;
  color: black;
}

#imgTxtCrdMenu a:hover{
  background-color: gray;
  color: white;
  border:0;
}

.menuPackBtn{
    padding: 10px 35px;
    margin: 10px 20px;
    border-radius: 40px;
    background-color: white;
    border-radius: 40px;
    font-weight: 600;
    border: 2px solid orange;
}


#menuPackBtn{
  padding: 10px 35px;
  margin: 10px 20px;
  border-radius: 40px;
  background-color: orange;
  border-radius: 40px;
  font-weight: 600;
  border: 2px solid gray;
}

.comment-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
  }
  .comment {
    background-color: rgba(233, 150, 122, 0.26);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 250px;
    margin: 10px 30px;
    border: 1px solid #ccc;
    padding: 20px;
  }

  #tableReservation{
    margin: 150px 25px;
  }

  #tableReservation h1{
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #tableReservation p{
    padding: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  #tableReservation button{
    background-color: orange;
    border-radius: 40px;
    padding: 10px 25px;
    font-weight: 600;
    margin-top: 20px;
    border: 1px solid grey;
  }
  
  
  #tableReservation button:hover{
    background-color: gray;
    color: white;
  }

  .chefImg{
    background-color: white;
    width: 100%;
    margin: 10px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

  }

  .chefImg img{
    width: 100%;
    height: 400px;
  }

  #appInfo{
    background-color: rgba(233, 150, 122, 0.26);
     border-radius: 50px;
     overflow: hidden;
  }

  #appInfo h1{
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #appInfo p{
    padding: 15px 5px;
  }

  #appInfo button{
    background-color: orange;
    border-radius: 40px;
    padding: 10px 25px;
    font-weight: 600;
    margin-top: 20px;
    border: 1px solid grey;
  }  
  
  #appInfo button:hover{
    background-color: gray;
    color: white;
  }
  #email{
    text-decoration: none; 
    border: 0; 
    padding: 10px 2px;
    background-color: transparent;
    border-bottom: 1px solid black;
  }

footer h3{
    text-align: center;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  


footer h1{
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  

ul{
    text-align: center;
}
 ul a{
    color: black;
    display: block;
    font-weight: 450;
    text-decoration: none;
    padding: 10px 0px;
  }

  ul a:hover{
    color: purple;
  }

  @media(max-width:500px){
    #foodReserve{
      display: none;
    }

    #imgIconPos{
      display: none;
    }
  }

  